@use 'colors' as *;
@use 'breakpoints' as *;

footer {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: $lightviolet;

    .stats {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;

        margin: 1rem 0;
    }

    .stats div {
        flex: 1 1 25%;
        text-align: center;
    }

    @media screen and (min-width:$md) {
        .stats div {
            flex: 1 1 18%;
        }    
    }
}