@use 'colors' as *;
@use 'breakpoints' as *;


nav ul {
    margin: unset;
    padding: unset;
    list-style: none;
}

header {
    position: absolute;
    width: 100%;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        a {
            color: white;
        }
        div {
            display: flex;
            gap: 0.5rem;
        }
    }

    h1 {
        font-size: 1rem;
        border: 1px solid white;
        padding: 0.5rem;
        text-transform: uppercase;
        font-size: clamp(0.833rem, 0.7992rem + 0.1691vw, 1rem);

    }
    
    nav {
        background-color: $darkviolet;
        padding: 1rem;
        position: absolute;
        overflow: hidden;
        width: 50%;
        right: 100%;
        top: 0;
        height: 100%;
        transition: right 0.3s linear;
        height: 100vh;
        position: fixed;
        z-index: 1;

        a {
            display: block;
            color: white;
            padding: 1rem;
            text-transform: capitalize;
            font-weight: bold;
        }

        a:hover {
            background-color: $lightviolet;
            color: black;
            border-radius: 10px;

        }
    }
    
    .show-nav {
        right: 50%;
        // overflow-y: scroll;
        padding: 1rem;
    }



    
    .login-button {
        display: flex;
        align-items: center;
        span {
            text-transform: uppercase;
            font-weight: bold;
        }
        svg {
            fill: white;
            width: 30px;
        }
    }
    
    .menu-button {
        background-color: transparent;
        border: unset;
        padding: unset;
        display: flex;
        align-items: center;
        cursor: pointer;
        
        svg {
            fill: white;
        }
        
        svg#open {
            width: 45px;
        }
        
        svg#close {
            display: none;
        }
    }   
    
    .menu-button[aria-expanded="true" ] {
        svg#open {
            display: none;
        }
        svg#close {
            display: block;
            width: 45px;
        }
    }

    @media screen and (min-width:$md) {
        .container {
            gap: 1rem;
        }

        .menu-button{
            display: none;
        }

        h1 {
            flex: 0 0 auto;
        }

        .show-nav, nav {
            position: static;
            height: unset;
            padding: unset;
            background-color: unset;
            overflow: unset;
            flex: 1 1 auto;
            
            ul {
                display: flex;
                justify-content: flex-end;
            }

            a {
                padding: 0.5rem;
                font-weight: unset;
            }
        }
        
    }
}