@use 'typography' as *;
@use 'colors' as *;

main {
    .hero-banner {
        height: 60vh;
        background-image: url(../img/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero-banner div {
        position: relative;
        top: 65%;
        padding: 0.5rem;
        color: white;
        text-transform: uppercase;
    }

    .hero-banner h2 {
        font-size: $banner-heading-font;
    }

    .learners > section {
        padding: 0 0.5rem ;
        margin: 1rem 0;

        h2 span {
            display: block;
        }

        img {
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
    }

    .learners > div {
        display: flex;
        padding: 0 0.5rem;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        gap: 1rem;
        
        p {
            text-align: center;
        }
        svg {
            margin-top: 1rem;
            width: 50px;
        }
    }

    .habit {
        background-color: $olive;
        text-align: center;
        padding: 3rem 0.5rem;

        svg {
            width: 50px;
        }
    }

    .courses{ 
        padding: 0 0.5rem;

        .img-gallery {
            display: flex;
            flex-wrap: wrap;
        }

        .img-gallery div {
            position: relative;
            flex: 1 1 50%;

        }

        .img-gallery a {
            position: absolute;
            top:0;
            width: 100%;
            height: 100%;
            display: none;
            cursor: pointer;
        }

        .img-gallery div:hover a {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #b784c9bb;
            color: white;
            cursor: pointer;
            
            span {
                padding: 1rem;
                text-align: center;
            }
        }
     
        .img-gallery img {
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
    }

    
}