$banner-heading-font: clamp(1.953rem, 1.5759rem + 1.8856vw, 3.815rem);

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


a {
    text-decoration: unset;
}

