/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 100%;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: unset;
}

nav ul {
  margin: unset;
  padding: unset;
  list-style: none;
}

header {
  position: absolute;
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
header .container div {
  display: flex;
  gap: 0.5rem;
}
header h1 {
  font-size: 1rem;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
header nav {
  background-color: rgb(254, 235, 235);
  padding: 1rem;
  position: absolute;
  overflow: hidden;
  width: 50%;
  right: 100%;
  top: 0;
  height: 100%;
  transition: right 0.3s linear;
  height: 100vh;
  position: fixed;
  z-index: 1;
}
header .show-nav {
  right: 50%;
  padding: 1rem;
}
header .login-button {
  display: flex;
  align-items: center;
}
header .login-button svg {
  width: 30px;
}
header .menu-button {
  background-color: transparent;
  border: unset;
  padding: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .menu-button svg#open {
  width: 45px;
}
header .menu-button svg#close {
  display: none;
}
header .menu-button[aria-expanded=true] svg#open {
  display: none;
}
header .menu-button[aria-expanded=true] svg#close {
  display: block;
  width: 45px;
}

main .hero-banner {
  height: 60vh;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .hero-banner div {
  position: relative;
  top: 65%;
  padding: 0.5rem;
  color: white;
  text-transform: uppercase;
}
main .hero-banner h2 {
  font-size: clamp(1.953rem, 1.5759rem + 1.8856vw, 3.815rem);
}
main .learners > section {
  padding: 0 0.5rem;
  margin: 1rem 0;
}
main .learners > section h2 span {
  display: block;
}
main .learners > section img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
main .learners > div {
  display: flex;
  padding: 0 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
main .learners > div p {
  text-align: center;
}
main .learners > div svg {
  margin-top: 1rem;
  width: 50px;
}
main .habit {
  background-color: #D2D6A5;
  text-align: center;
  padding: 3rem 0.5rem;
}
main .habit svg {
  width: 50px;
}
main .courses {
  padding: 0 0.5rem;
}
main .courses .img-gallery {
  display: flex;
  flex-wrap: wrap;
}
main .courses .img-gallery div {
  position: relative;
  flex: 1 1 50%;
}
main .courses .img-gallery a {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  cursor: pointer;
}
main .courses .img-gallery div:hover a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(183, 132, 201, 0.7333333333);
  color: white;
  cursor: pointer;
}
main .courses .img-gallery div:hover a span {
  padding: 1rem;
  text-align: center;
}
main .courses .img-gallery img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #B094B1;
}
footer .stats {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
}
footer .stats div {
  flex: 1 1 25%;
  text-align: center;
}
@media screen and (min-width: 700px) {
  footer .stats div {
    flex: 1 1 18%;
  }
}/*# sourceMappingURL=style.css.map */